springdbunit/src/test/resources/dataset.dtd

<!ELEMENT dataset (
    PATIENT*,
    HOSPITAL*,
    HOSPITAL_PATIENT*)>

<!ELEMENT PATIENT EMPTY>
<!ATTLIST PATIENT
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    DRUG CDATA #IMPLIED
    PORTION CDATA #IMPLIED
    FREQUENCY CDATA #IMPLIED
    PATIENTNUMBER CDATA #IMPLIED
    INHOSPITAL CDATA #IMPLIED
>

<!ELEMENT HOSPITAL EMPTY>
<!ATTLIST HOSPITAL
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    CITY CDATA #REQUIRED
    HOSPITALNUMBER CDATA #IMPLIED
    REGISTRATIONDATE CDATA #IMPLIED
>

<!ELEMENT HOSPITAL_PATIENT EMPTY>
<!ATTLIST HOSPITAL_PATIENT
    PATIENT_ID CDATA #REQUIRED
    HOSPITAL_ID CDATA #REQUIRED
>

